$p5-red: #dc3545;
$p5-red-dark: #a3001e;
$p5-red-light: #ff6b70;
$headings: #dedede;
$text: #e6e6e6;
$table-heading: #dedede;
$table-head-bg: #2a2a2a;
$table-text: #e6e6e6;
$table-border: #383838;
$table-bg: #121212;
$hr-line: #2e2e2e;
$form-bg: #2e2e2e;
$form-border: #383838;
$form-text: #e6e6e6;

$nav-link-color: $p5-red-light !default;
$nav-link-hover-color: $p5-red !default;
$nav-tabs-link-active-color: $p5-red !default;
