@import "@fontsource/fira-code/scss/mixins";

$p5-red: #dc3545;
$p5-red-dark: #a3001e;
$p5-red-light: #ff6b70;
$p5-red-fade: rgba(182, 76, 87, 0.705);
$headings: #dedede;
$text: #e6e6e6;
$table-heading: #dedede;
$table-head-bg: #2a2a2a;
$table-text: #e6e6e6;
$table-border: #383838;
$table-bg: #121212;
$hr-line: #2e2e2e;
$form-bg: #2e2e2e;
$form-border: #383838;
$form-text: #e6e6e6;

$nav-link-color: $p5-red-light !default;
$nav-link-hover-color: $p5-red !default;
$nav-tabs-link-active-color: $p5-red !default;

@import "./darkly";

.content {
  height: calc(100vh - 45px);
  overflow-y: scroll;
}

// ----------- TABLES ----------- //
$table: '[role="table"]';
$thead: '[role="rowgroup"]:first-child';
$tbody: '[role="rowgroup"]:nth-child(2)';
$tr: '[role="row"]';
$th: '[role="columnheader"]';
$td: '[role="cell"]';

#{$table} {
  color: $table-text;
  font: 14px/1.5 "Ubuntu", Helvetica, Arial, sans-serif;
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 0;

  &,
  & #{$thead},
  & #{$tbody} {
    width: 100vw;
    padding: 0;
  }

  #{$thead} {
    overflow-y: auto;
    overflow-x: hidden;
  }

  #{$tbody} {
    overflow-y: scroll;
    overflow-x: hidden;
    height: calc(100vh - 120px);

    &::-webkit-scrollbar {
      width: 0 !important;
    }
  }

  #{$td}.elem,
  #{$td}:first-child {
    text-align: center;
    &,
    #{$td}.stat {
      font-family: "Fira CodeVariable", "Fira Code", monospace;
    }
  }

  #{$th} {
    font-weight: bold;
    vertical-align: center;
    color: $table-heading;
    background-color: $table-head-bg;
    border-bottom: 1px solid $table-border;

    &:not(:last-child) {
      border-right: 1px solid $table-border;
    }

    &.searchbox {
      padding: 0;
    }

    span {
      float: right;
      vertical-align: middle;
    }
  }

  #{$tr}:nth-child(2) #{$th} {
    text-align: center;
  }

  #{$td} {
    border-bottom: 1px solid $table-border;
  }

  #{$tr}:hover #{$td} {
    background-color: $form-border;
    cursor: pointer;
  }
}

#{$th},
.nav-link,
#{$td} {
  user-select: none;
}

td.unconfirmed {
  background-color: $p5-red-fade;
}

.questionlist table {
  th:first-child {
    width: 80%;
  }
  th:nth-child(2), th:nth-child(3), th:nth-child(4), th:nth-child(5) {
    width: 5%;
  }
  td:nth-child(2), td:nth-child(3), td:nth-child(4), td:nth-child(5) {
    text-align: center;
  }
}

.search {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 10px;
  background-color: $gray-900;
  color: $body-color;
  border: none;

  &:hover {
    background-color: $table-head-bg;
  }

  &:focus {
    outline: none;
    background-color: $table-bg;
  }
}
