@import "globals";
@import "cyborg";

.content {
  height: calc(100vh - 42px);
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
  width: 100%;
  overflow: hidden;
  overflow-y: scroll;

  a {
    &:link,
    &:visited {
      color: $p5-red-light;
      text-decoration: none;
    }

    &:active,
    &:hover,
    &:focus {
      text-decoration: underline;
    }

    &:active {
      color: $p5-red;
    }
  }

  &::-webkit-scrollbar {
    width: 0 !important;
  }
}

.popover {
  max-width: 50vw;
}

.nav-link {
  user-select: none;
}

.mono {
  font-family: $font-family-monospace;
}

.bold {
  font-weight: bold !important;
}
