@import "globals";

$calendar-size: calc($content-size - 46px);
$head-size: calc($calendar-size * 0.05);
$head-height: calc($head-size - 2px);
$body-size: calc($calendar-size - $head-size);
$week-size: calc($body-size * 0.25);
$break-size: calc($body-size * 0.005);
$day-size: calc($body-size * 0.75);

.weekly {
  height: $calendar-size;
  background-color: $table-head-bg;

  .row {
    background-color: $bg-color;
  }

  header {
    user-select: none;

    &,
    .col {
      height: $head-size;
    }

    .col {
      line-height: $head-height;
      font-size: 20px;
      text-align: center;
      vertical-align: middle;
      margin: 0;
      padding: 0;
      overflow: hidden;
    }

    .nav-link {
      font-size: 14pt;

      &.active {
        font-weight: bold;
      }
    }

    .left {
      float: left;
      padding-left: 10px;
    }

    .right {
      float: right;
      padding-right: 15px;
    }
  }

  .week {
    height: $week-size;

    .col {
      overflow: hidden;
      div {
        height: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }
  }

  .day-info {
    margin-top: $break-size;

    & .col {
      height: $day-size;
    }
  }

  .col {
    border: 1px solid #333;
    overflow: scroll;

    &::-webkit-scrollbar {
      width: 0 !important;
    }
  }

  .num {
    user-select: none;
    font-family: "Fira CodeVariable", "Fira Code", monospace;
    margin-bottom: 10px;
  }

  .vstack {
    div {
      padding-left: 5px;
      border-radius: 5px;
      cursor: pointer;
    }
  }
}
