@import "globals";

$calendar-size: calc($content-size - 42px);
$head-size: calc($calendar-size * 0.05);
$head-height: calc($head-size - 2px);
$body-size: calc($calendar-size - $head-size);
$week-size: calc($body-size * 0.25);
$day-size: calc($body-size * 0.75);

.weekly {
  height: $calendar-size;
  background-color: $table-head-bg;

  .row {
    background-color: $bg-color;
  }

  header {
    user-select: none;

    &,
    .col {
      height: $head-size;
    }

    .col {
      line-height: $head-height;
      font-size: 20px;
      text-align: center;
      vertical-align: middle;
      margin: 0;
      padding: 0;
      overflow: hidden;
    }

    .nav-link {
      font-size: 14pt;

      &.active {
        font-weight: bold;
      }
    }
  }
  .week {
    height: $week-size;
    overflow-x: hidden;
  }

  .week-day {
    cursor: pointer;
    overflow-x: hidden;

    &:hover {
      border-color: teal;
      box-shadow: inset 0 0 0 1px teal;
    }

    .vstack {
      height: 100%;
    }

    .day {
      height: calc(50% - 17.5px);
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .weekday-title {
      height: 35px;
      display: block;
      font-size: 20px;
      padding: 0;
      overflow-x: hidden;
      border-bottom: 1px solid #333;

      .left {
        float: left;
        padding-left: 10px;
      }

      .right {
        float: right;
        padding-right: 10px;
      }
    }
  }

  .day-title .col {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    padding: 0;
    overflow-x: hidden;
  }

  .day-info {
    & .col {
      height: $day-size;
      overflow: hidden;
    }
  }

  .col {
    border: 1px solid #333;
    overflow: scroll;

    &::-webkit-scrollbar {
      width: 0 !important;
    }
  }

  .num {
    user-select: none;
    font-family: "Fira CodeVariable", "Fira Code", monospace;
    margin-bottom: 10px;
  }
}
