@import "globals";
@import "cyborg";

$calendar-size: calc($content-size - 43px);
$head-size: calc($calendar-size * 0.05);
$head-height: calc($head-size - 2px);
$body-size: calc($calendar-size - $head-size);
$week-size: calc($body-size * 0.25);
$day-size: calc($body-size * 0.75);

.weekly {
  height: $calendar-size;
  background-color: $body-bg;
  overflow: hidden;

  .row {
    background-color: $body-bg;
  }

  header {
    user-select: none;

    &,
    .col {
      height: $head-size;
    }

    .col {
      line-height: $head-height;
      font-size: 20px;
      text-align: center;
      vertical-align: middle;
      margin: 0;
      padding: 0;
      overflow: hidden;
    }

    .nav-link {
      font-size: 14pt;

      &.active {
        font-weight: bold;
      }
    }
  }

  .week {
    height: $week-size;
    overflow-x: hidden;
  }

  .week-day {
    user-select: none;
    overflow-x: hidden;
    &:not(.empty) {
      cursor: pointer;

      &:hover,
      &:focus {
        border: 1px dashed #008080;
      }

      &.selected {
        border: 1px solid #dc3545;

        &:hover,
        &:focus {
          border-style: dashed;
        }
      }
    }

    .vstack {
      height: 100%;
    }

    .day {
      height: calc(50% - 17.5px);
      display: flex;
      justify-content: center;
      align-items: center;
      color: $gray-100;

      &.noon {
        background-color: $indigo;
      }

      &.night {
        background-color: $cyan;
      }
    }

    .weekday-title {
      height: 35px;
      display: block;
      font-size: 20px;
      padding: 0;
      overflow-x: hidden;
      border-bottom: 1px solid $table-border-color;

      .left {
        float: left;
        padding-left: 10px;
      }

      .right {
        float: right;
        padding-right: 10px;
      }
    }
  }

  .day-title .title {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    padding: 0;
    overflow-x: hidden;
  }

  .day-info {
    color: $gray-100;

    .slot {
      height: $day-size;
      overflow: hidden;

      .card {
        margin: 10px 10px 0;
        box-sizing: content-box;

        button.accordion-button:focus {
          box-shadow: none;
        }
      }
    }

    .slot-title {
      font-size: 20px;
      border-bottom: 1px solid $table-border-color;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    .card-question {
      font-weight: normal;
      color: $gray-400;
    }
  }

  .col {
    border: 1px solid $table-border-color;
    overflow: scroll;

    &::-webkit-scrollbar {
      width: 0 !important;
    }
  }

  .num {
    user-select: none;
    font-family: "Fira CodeVariable", "Fira Code", monospace;
    margin-bottom: 10px;
  }
}
