.confidants {
  .confidant {
    width: 170px;
    img {
      cursor: pointer;
    }
    &:first-child {
      margin-left: auto;
    }
    &:last-child {
      margin-right: auto;
    }
  }
}
$grid-gutter-width: 0 !default;
