.confidants {
  .confidant {
    user-select: none;
    width: 170px;
    height: 300px;
    border-radius: 5px;
    img {
      cursor: pointer;
    }
    &:first-child {
      margin-left: auto;
    }
    &:last-child {
      margin-right: auto;
    }
  }
}
$grid-gutter-width: 0 !default;
