@import "globals";

.persona-info {
  table {
    margin-bottom: 10px;
  }
  td {
    vertical-align: middle;
  }
  td:first-child {
    width: 8vw;
  }

  .tags {
    margin-left: 10px;
    font-size: 2rem;
    vertical-align: bottom;
  }

  a {
    &:link,
    &:visited {
      color: $p5-red-light;
      text-decoration: none;
    }

    &:active,
    &:hover,
    &:focus {
      text-decoration: underline;
    }

    &:active {
      color: $p5-red;
    }
  }

  .arcana {
    color: $p5-red-light;

    &:hover {
      text-decoration: underline;
    }
  }
  .persona-stats,
  .persona-elems,
  .persona-skills {
    th {
      margin-bottom: 0;
      padding-bottom: 0;
      font-weight: 500;
      border-bottom: 2px solid #777;
    }
  }
  .persona-stats {
    td {
      width: 20vw;
      &:not(:last-child) {
        border-right: 1px solid $table-border;
      }
    }
  }
  .persona-elems {
    td {
      width: 10vw;
    }
  }
  .persona-skills {
    td:first-child {
      font-family: $monospace;
      width: 3vw;
      text-align: right;
    }
  }
}

.popup {
  .arcana-popup {
    .popover-body {
      border: 1px solid #aaa;
    }
  }
  .popover-body {
    padding: 0;
    border-radius: 3px;
  }
  .table {
    margin-bottom: 0;
    tr:last-child td {
      border-bottom: none;
    }
  }
}
