@import "overrides";

.persona-info {
  td {
    vertical-align: middle;
  }
  td:first-child {
    width: 8vw;
  }

  .icon {
    vertical-align: top;
    text-align: center;
    font-size: 24px;
  }
  a {
    &:link,
    &:visited {
      color: $p5-red-light;
      text-decoration: none;
    }

    &:active,
    &:hover,
    &:focus {
      text-decoration: underline;
    }

    &:active {
      color: $p5-red;
    }
  }

  .arcana {
    color: $p5-red;

    &:hover {
      text-decoration: underline;
      cursor: pointer;
    }
  }
  .persona-stats {
    td {
      width: 20vw;
      &:not(:last-child) {
        border-right: 1px solid $table-border;
      }
    }
  }
  .persona-elems {
    td {
      width: 10vw;
    }
  }
  .persona-skills {
    td:first-child {
      font-family: $monospace;
      width: 3vw;
      text-align: right;
    }
  }
}

.popup {
  .popover-body {
    padding: 0;
    border: 1px solid #AAA;
    border-radius: 3px;
  }
  .table {
    margin-bottom: 0;
    tr:last-child td {
      border-bottom: none;
    }
  }
}
