@import "overrides";

.skills {
  div[role="cell"] {
    vertical-align: middle;
    img {
      height: 33px;
      margin-top: auto;
      margin-bottom: auto;
      display: block;
    }
    &:first-child {
      margin: 0;
      padding: 0;
      height: 38px;
    }
  }
}
