@import "globals";

.skill-unlocks,
.skill-info {
  td:first-child {
    width: 7vw;
    text-align: right;
    border-right: 1px solid $table-border;
  }
}

.status-link {
  text-decoration: underline dashed;
  &:hover {
    cursor: pointer;
    text-decoration: none;
  }
}
