@import "overrides";

.skills {
  div[role="cell"] {
    vertical-align: middle;
    img {
      height: 33px;
      vertical-align: middle;
    }
    &:first-child {
      margin: 0;
      padding: 0;
    }
    &:nth-child(3) {
      text-align: right;
      font-family: $monospace;
    }
  }

  .icon {
    width: 24px !important;
    svg {
      font-size: 22px !important;
    }
  }
}
