html {
  --bg-color: #121212;
  --p5-red: #dc3545;
  --headings: #dedede;
  --text: #e6e6e6;
  --table-heading: #dedede;
  --table-head-bg: #2a2a2a;
  --table-text: #e6e6e6;
  --table-unconfirmed-bg: rgba(182, 76, 87, 0.705);
  --table-border: #383838;
  --table-bg: #121212;
  --hr-line: #2e2e2e;
  --form-bg: #2e2e2e;
  --form-border: #383838;
  --form-text: #e6e6e6;
}
@import "./darkly";

// ----------- LINKS ----------- //
a {
  color: var(--p5-red);
  font-weight: normal;
}
a:hover {
  color: var(--p5-red);
  font-weight: normal;
}
a:active {
  color: var(--p5-red);
  font-weight: normal;
}
a:focus {
  color: var(--p5-red);
  font-weight: bold;
}
a:visited {
  color: var(--p5-red);
  font-weight: normal;
}

// ----------- TABLES ----------- //
$table: '[role="table"]';
$thead: '[role="rowgroup"]:first-child';
$tbody: '[role="rowgroup"]:nth-child(2)';
$tr: '[role="row"]';
$th: '[role="columnheader"]';
$td: '[role="cell"]';
#{$table} {
  background-color: var(--table-bg);
  border: 1px solid var(--table-border);
  color: var(--table-text);
  font: 14px/1.5 "Ubuntu", Helvetica, Arial, sans-serif;
  margin-left: auto;
  margin-right: auto;

  &,
  & #{$thead},
  & #{$tbody} {
    width: 99.5vw;
  }
  #{$thead} {
    overflow-y: auto;
    overflow-x: hidden;
  }

  #{$tbody} {
    overflow-y: scroll;
    overflow-x: hidden;
    height: 83vh;

    &::-webkit-scrollbar {
      width: 0 !important;
    }
  }
  #{$td}.elem {
    text-align: center;
    font-family: "Fira Code", monospace;
  }
  #{$td}.stat {
    font-family: "Fira Code", monospace;
  }
  #{$th} {
    user-select: none;
    font-weight: bold;
    vertical-align: center;
    color: var(--table-heading);
    background-color: var(--table-head-bg);
    border-bottom: 1px solid var(--table-border);
    &:not(:last-child) {
      border-right: 1px solid var(--table-border);
    }
    &.searchbox {
      padding: 0;
    }
    span {
      float: right;
    }
  }

  #{$tr}:nth-child(2) #{$th} {
    text-align: center;
  }
  #{$td} {
    border-bottom: 1px solid var(--table-border);
  }
}

.search {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 10px;
  background-color: $gray-900;
  color: $body-color;
  border: none;
  &:hover {
    background-color: var(--table-head-bg);
  }
  &:focus {
    outline: none;
    background-color: var(--table-bg);
  }
}
