.questionlist table {
  width: 50%;
  float: left;
  th {
    font-weight: normal;
    &.question {
      font-weight: bold;
    }
  }
  th:first-child {
    width: 80%;
  }
  th:nth-child(n + 2) {
    width: 5%;
  }
  th:not(:first-child),
  td:not(:first-child) {
    text-align: center;
  }
}
