@import "globals";

h1 {
  .tags {
    margin-left: 10px;
    font-size: 2rem;
    vertical-align: bottom;
  }
}

.skill-personas {
  td:first-child {
    font-family: $font-family-monospace;
    width: 3vw;
    text-align: right;
  }
}

.skill-unlocks,
.skill-info {
  td:first-child {
    width: 7vw;
    text-align: right;
    border-right: 1px solid $table-border-color;
  }
}

.status-link {
  text-decoration: underline dashed;
  &:hover {
    cursor: pointer;
    text-decoration: none;
  }
}
